// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


.card{
    border: 1px solid black;
    color: black;
    height: 198px;
    margin: 20px;
    width: 250px;
    box-shadow: 0 10px 30px rgba(0,0,0,.1);

}

.card h3{
  font-size: 15px;
  text-align: justify;
  padding: 7px;
}

.card img{
height: 120px;
}

.card:hover{
background-color: #F5F8FA;
}

.blue-btn{
  background-color: #202F3A;
  padding: 5px;
  border-radius: 4px;
  text-align: center;
  width: 119px;
    color: white

}

.blue-btn a{
  color: white
}

a:hover{
  text-decoration: none;
}

.icon{
  background-color: #202F3A;
  width: 40px;
  border-radius: 5px;
  height: 38px;
  margin: 3px;
}

.icon a{
  color: white;
  font-size: 25px;
}
